h1 {
  text-align: center;
  color: #ddd3d3;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.days__container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
}

.day {
  background-color: #dcdbd9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 30px auto;
}
.day--invalid:active {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
