.image__container {
  position: absolute;
  width: 200px;
  height: 200px;
}

.image__container img {
  padding: 2px;
  width: 99%;
  height: 99%;
  border-radius: 50%;
  z-index: -100;
}

.number {
  z-index: 100;
}
