.bauble__container {
  position: absolute;
  width: 232px;
  height: 232px;
  background-image: radial-gradient(
    circle at 150px 60px,
    #ff6f55,
    #aa1f00 70px
  );
  border-radius: 50%;
}

.image--styled {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.bauble-top,
.bauble-top--right,
.bauble-top--left {
  position: absolute;
  margin: -15px 85px;
  z-index: 1;
  height: 20px;
  width: 60px;
  background: linear-gradient(to left, #a68721, #ffde75, #a68721);
  clip-path: polygon(
    20% 0,
    80% 0,
    100% 100%,
    70% 80%,
    50% 100%,
    30% 80%,
    0% 100%
  );
}

.bauble-top__container::before,
.bauble-top__container--left::before,
.bauble-top__container--right::before {
  content: ' ';
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  margin: -46px 93px;
  border: solid 4px #d4af37;
  border-radius: 50%;
}
.bauble-top__container--left {
  transform-origin: center 140px;
  transform: rotate(-30deg);
}

.bauble-top__container--right {
  transform-origin: center 117px;
  transform: rotate(130deg);
}

.image--shown {
  visibility: visible;
  transition: opacity 1s linear;
}

.image--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.number {
  z-index: 100;
}
