.image__container {
  position: absolute;
  width: 200px;
  height: 200px;
}

.image--styled {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.image--shown {
  visibility: visible;
  transition: opacity 1s linear;
}

.image--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.number {
  z-index: 100;
}
